---
layout: markdown_page
title: "Frontend CI/CD Team"
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Mission

The Plan team works on the frontend part of GitLab for the [CI/CD stage].

For more details about the vision for this area of the product, see the [CI/CD
stage] page.

[CI/CD stage]: /stages-devops-lifecycle/release/

### Team members

<%= direct_team(manager_role: 'Frontend Engineering Manager, Release (CD) & Verify (CI)') %>

### Stable counterparts

<%= stable_counterparts(role_regexp: /[,&] Release/, direct_manager_role: 'Frontend Engineering Manager, Release (CD) & Verify (CI)') %>

## Useful links

* [CI/CD frontend board] - this shows work in the current release based on assignees
* [#g_verify] in Slack
* [#g_release] in Slack

[CI/CD frontend board]: https://gitlab.com/groups/gitlab-org/-/boards/815280

[#g_verify]: https://gitlab.slack.com/archives/g_verify
[#g_release]: https://gitlab.slack.com/archives/g_release
